extends /shared/layout.pug

block variables
    - var title = 'Day 01'

block content
    include /components/aoc-link.pug
    template(id='task-01')
        link(rel="stylesheet" type="text/css" href=require('./task01.less'))
        aoc-link(href="https://adventofcode.com/2017/day/1") Advent of Code
        div
            label(for="puzzleInput") Puzzle input
            input(id="puzzleInput" type="text" placeholder="2+2=4-1=3 quik maf")
            button(id="task01") Task 01
            button(id="task02") Task 02
        div
            span Result:
                span(id="result")
            p(id="spans")
    task-01